<div class="container">
  <h1>All tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li><strong><%= task.name %></strong><br>
        <%= link_to "details", task_path(task.id) %> | <%= link_to "edit", edit_task_path(task.id) %> | <%= link_to 'delete', task, method: :delete, data: {confirm: "Are you sure that you want to delete the task '#{task.name}'?"} %>
      </li>
    <% end %>
  </ul>

  <div class="div-margin"><%= link_to "Create new task", new_task_path %></div>
</div>
