<div class="container">
  <h1>Details</h1>
  <h2><%= @task.name %></h2>
  <p><strong>Details:</strong> <%= @task.details %></p>
  <p><strong>Status:</strong> <%= @task.completed ? "completed" : "not completed" %></p>
  <p><strong>Created:</strong> <%= @task.created_at %></p>
  <p><strong>Last edited:</strong> <%= @task.updated_at %></p>

  <div class="div-margin"><%= link_to "Back to index", tasks_path %></div>
</div>
